<%- include ('./partials/header') %>

<div class="container">
  <% if (typeof posts !== 'undefined' && posts.length > 0) { %>
    <div class="side-bar">
      <% if (typeof recentPosts !== 'undefined' && recentPosts.length > 0) { %>
        <h3 class="recent-posts-title">RECENT POSTS:</h3>
        <ul class="recent-posts-list">
          <% recentPosts.forEach((recentPost) => { %>
            <li>
              <a href="/posts/<%= recentPost.post_id %>">
                <%= recentPost.title %>
              </a>
            </li>
          <% }) %>
        </ul>
      <% } %>
      <div class="second-side">
        <h2 class="second-side">WARNING!</h2>
        <p class="second-side">This is a project I made during my studies with the General Assembly Software Engineering Intensive boot camp. This is not a real blog and the posts are not real. This is only a demo site! ˚₊‧꒰ა ☆ ໒꒱ ‧₊˚
          <br>
          ૮꒰ ˶• ༝ •˶꒱ა ♡</p>
      </div>
    </div>
    <div class="blog-wrapper">
      <% if (user && user.username) { %>
        <div class="create-post-button">
          <h2 style="font-family: 'Garamond';">Share your thoughts!</h2>
          <button onclick="window.open('/posts/create')">Create New Post</button>
        </div>
      <% } %>
      <% posts.forEach((post) => { %>
        <a href="/posts/<%= post.post_id %>" class="ui-card">
          <div class="card-image" style="background-image: url('<%= post.image_url %>');">
            <h2 class="title-content"><%= post.title %></h2>
          </div>
          <div class="content">
            <% let words = post.content.split(' '); %>
            <% if (words.length > 50) { %>
              <p class="info">"<%= words.slice(0, 50).join(' ') %>... <a href="/posts/<%= post.post_id %>">See More</a></p>
            <% } else { %>
              <p class="info">"<%= post.content %>"</p>
            <% } %>
            <div class="user-info">
              <p class="author"><strong>Author:</strong> <%= post.author_name %></p>
              <p class="date"><strong>Publication Date:</strong>
                <%= format(new Date(post.publication_date), 'dd MMM yyyy') %>
              </p>
            </div>
          </div>
        </a>
      <% }) %>
    </div>
    <div class="pagination">
      <% if (page > 1) { %>
        <a href="/posts?page=<%= page - 1 %>">&lt; Previous</a>
      <% } %>
      
      <span>Page <%= page %> of <%= totalPages %></span>
    
      <% if (page < totalPages) { %>
        <a href="/posts?page=<%= page + 1 %>">Next &gt;</a>
      <% } %>
    </div>    
  <% } else { %>
    <p>No posts found.</p>
  <% } %>
</div>
