<%- include ('./partials/header') %>

<div class="center_content">
  <h2>User Profile</h2>
  <% if (user && user.image_url) { %>
    <img src="<%= user.image_url %>" alt="">
  <% } %>
  <div class="user_details">
    <% if (user) { %>
      <p><strong>Name:</strong> <%= user.username %></p>
      <p><strong>Email:</strong> <%= user.email %></p>
      <p><strong>Pronouns:</strong> <%= user.pronouns %></p>
    <% } %>
  </div>
</div>

<button onclick="window.open('/posts/create')"> Create New Post</button>

<h2>My Posts</h2>

<div class="blog-wrapper">
  <% posts.forEach((post)=> { %>
    <div>
      <img src="<%= post.image_url %>" alt="">
      <div class="content">
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
        <p>By <span class="you">YOU</span> on <%= post.created_at.toDateString() %></p>
        <a href="/posts/edit/<%= post.post_id %>"><button>Edit</button></a>
        <form action="/posts/<%= post.post_id %>?_method=DELETE" method="post">
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
  <% }) %>
</div>