<%- include ('./partials/header') %>

<div class="profile-wrapper">
  <div class="profile-picture">
    <img src="https://placehold.co/300x200/EEE/31343C?font=lora&text=Profile+Icon" alt="">
    <!-- <form action="/update-icon" method="post">
      <label for="user_icon_url">New Icon URL:</label>
      <input type="text" id="user_icon_url" name="user_icon_url">
      <input type="submit" value="Update Icon">
    </form>
     --> 
  </div>
  <div class="center_content">
    <h2>User Profile</h2>
    <% if (user && user.user_icon_url) { %>
      <img src="<%= user.user_icon_url %>" alt="User Icon">
    <% } %>
    <div class="user_details">
      <% if (user) { %>
        <p><strong>Name:</strong> <%= user.username %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Pronouns:</strong> <%= user.pronouns %></p>
      <% } %>
    </div>
  </div>
  
  <button onclick="window.open('/posts/create')">Create New Post</button>
  
  <div class="profile-blog-wrapper">
    <div class="my-posts-section">
      <h2 class="posts-header">My Posts</h2>
      <% if (posts.length > 0) { %>
        <div class="posts-grid">
          <% posts.forEach((post) => { %>
            <div class="post-item">
              <img src="<%= post.image_url %>" alt="">
              <div class="content">
                <h3><%= post.title %></h3>
                <p><%= post.content %></p>
                <p>By <span class="you">YOU</span> on <%= post.created_at.toDateString() %></p>
                <a href="/posts/edit/<%= post.post_id %>"><button>Edit</button></a>
                <form action="/posts/<%= post.post_id %>?_method=DELETE" method="post">
                  <button type="submit">Delete</button>
                </form>
              </div>
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <div class="no-posts-found">
          <p>No posts found. 
            <br>
            Time to express yourself! 
          <br>
          ₊✩‧₊˚౨ৎ˚₊✩‧₊
          <!-- <br>
          (´｡• ◡ •｡`) ♡ -->
          </p>
        </div>
      <% } %>
    </div>
  </div>
