<%- include ('./partials/header') %>

    <!-- <h2 class="center-text">Blog Post</h2> -->

    <div class="row-header">
        <h2 class="center-text">
            <%= post.title %>
        </h2>

        <span class="posted_at">
            <%= format(new Date(post.publication_date),'dd MMM yyyy') %>
        </span>
    </div>
    <div class="blog-content">
        <!-- <h2>
            <%= post.author_id %>
                <span class="updated_at">
                    <%= format(new Date(post.updated_date),'dd MMM yyyy') %>
                </span>
        </h2> -->

        <img src="<%= post.image_url %>" class="blog_image" alt="" />

        <p class="description">
            <%= post.content %>
        </p>
        <h2>Comments</h2>
        <% if (comments.length===0) { %>
            <p>No comments</p>
            <% } else { %>
                <% comments.forEach((comment)=> { %>
                    <div class="comment_block">
                        <div class="space-between">

                            <h4>
                                <%= comment.username %>
                            </h4>
                            <p class="date">
                                <%= format(new Date(comment.comment_date),'dd MMM yyyy hh:mm a') %>
                            </p>
                        </div>

                        <p class="comment">
                            <%= comment.comment_text %>
                        </p>
                    </div>
                    <% }) %>
                        <% } %>
                            <% if(userId){ %>
                                <form class="form" action="/comment" method="post">
                                    <h3>Leave a Comment</h3>
                                    <label for="content">Comment:</label>
                                    <input type="text" id="content" name="content">
                                    <input type="hidden" id="postId" name="postId" value=" <%= post.post_id %>">
                                    <button type="submit">Comment</button>
                                </form>
                                <% } %>
    </div>