<%- include ('./partials/header') %>

    <!-- <h2 class="center-text">Blog Post</h2> -->

    <div class="row-header">
        <h2 class="center-text">
            <%= post.title %>
        </h2>

        <span class="posted_at">
            <%= format(new Date(post.publication_date),'dd MMM yyyy') %>
        </span>
    </div>
    <div class="blog-content">
        <!-- <h2>
            <%= post.author_id %>
                <span class="updated_at">
                    <%= format(new Date(post.updated_date),'dd MMM yyyy') %>
                </span>
        </h2> -->

        <img src="<%= post.image_url %>" class="blog_image" alt="" />

        <p class="description">
            <%= post.content %>
        </p>
    </div>