<%- include ('./partials/header') %>

<div class="single-blog-wrapper">
    <a href="/posts/<%= post.post_id %>">
      <img src="<%= post.image_url %>" alt="">
      <div class="content">
        <h2><%= post.title %></h2>
        <p><strong>Author:</strong> <%= post.author_name %></p>
        <p><strong>Publication Date:</strong>
          <%= format(new Date(post.publication_date), 'dd MMM yyyy') %>
        </p>
        <p><%= post.content %></p>
      </div>
    </a>
</div> 

<div class="comment">
  <h2>COMMENTS</h2>
  <div class="comments-section">
    <% comments.forEach(comment => { %>
      <div class="comment">
        <p class="username-comment"><%= comment.username %>: </p> 
        <p><%= comment.comment_text %></p> 
          <br><span class="comment-date"><%= comment.comment_date %></span></p>
        <% if (user && user.user_id === comment.user_id) { %>
          <form action="/comments/<%= comment.comment_id %>?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">Delete</button>
          </form>
        <% } %>
      </div>
    <% }) %>
  </div>
  <h2>LEAVE A COMMENT:</h2>
  <form action="/comments" method="post">
    <input type="hidden" name="post_id" value="<%= post.post_id %>">
    <label for="content"></label><br>
    <textarea name="content" id="content" required></textarea>
    <br>
    <button type="submit">Submit Comment</button>
  </form>
  
</div>
